<div id="main-slider" class="splide bg-slate-400 rounded-10px m-10px">
  <div class="splide__track">
    <ul class="splide__list">
      <!-- Main slider content goes here -->
      <% for (let i = 0; i < 5; i++) { %>
      <li class="splide__slide flex flex-col">
        <img
          src="<%= newsData[i].urlToImage %>"
          class="block w-full md:h-96"
          alt="..."
          loading="lazy"
          style="border-radius: 10px"
        />
        <div class="px-2 py-3 pb-5">
          <p class="text-lg font-bold text-gray-800 text-center">
            <%= newsData[i].title.substring(0, 30) + '...' %>
          </p>
          <p class="text-sm font-bold text-gray-600 text-center">
            <%= newsData[i].description.substring(0, 100) + '...' %>
          </p>
          <span
            id="time"
            class="text-xs font-bold text-gray-500 flex justify-end"
            ><%= newsData[i].publishedAt %></span
          >
        </div>
      </li>
      <% } %>
    </ul>
  </div>
</div>
