<div class="tab-list" data-tab-list role="tablist" aria-label="meal type">
  <button
    class="tab-btn"
    id="tab-1"
    role="tab"
    tabindex="-1"
    aria-controls="panel-1"
    aria-selected="true"
    data-tab-btn
  >
    Breakfast
  </button>
  <button
    class="tab-btn"
    id="tab-2"
    role="tab"
    tabindex="-1"
    aria-controls="panel-2"
    aria-selected="false"
    data-tab-btn
  >
    Lunch
  </button>
  <button
    class="tab-btn"
    id="tab-3"
    role="tab"
    tabindex="-1"
    aria-controls="panel-3"
    aria-selected="false"
    data-tab-btn
  >
    Dinner
  </button>
  <button
    class="tab-btn"
    id="tab-4"
    role="tab"
    tabindex="-1"
    aria-controls="panel-4"
    aria-selected="false"
    data-tab-btn
  >
    Snack
  </button>
  <button
    class="tab-btn"
    id="tab-5"
    role="tab"
    tabindex="-1"
    aria-controls="panel-5"
    aria-selected="false"
    data-tab-btn
  >
    Teatime
  </button>
</div>
