<nav
  class="relative z-0 flex border rounded-10px p-2 overflow-x-scroll border-gray-700 flex-shrink flex-grow md:overflow-hidden"
  aria-label="Tabs"
  role="tablist"
>
  <div class="flex overflow-x-scroll scrollbar-thin w-full md:overflow-hidden">
    <button
      type="button"
      class="tabBtns hs-tab-active:border-b-blue-600 hs-tab-active:text-white relative flex-1 first:border-s-0 border-s border-b-2 py-4 px-6 text-sm font-medium text-center overflow-hidden focus:z-10 focus:outline-none focus:text-blue-600 disabled:opacity-50 disabled:pointer-events-none bg-gray-800 border-l-gray-700 border-b-gray-700 text-gray-400 hover:bg-gray-700 hover:text-gray-400 flex-2 min-w-[fit-content] whitespace-nowrap"
      id="bar-with-underline-item-1 "
      data-hs-tab="#bar-with-underline-1"
      aria-controls="bar-with-underline-1"
      role="tab"
    >
      National
    </button>

    <button
      type="button"
      class="tabBtns hs-tab-active:border-b-blue-600 hs-tab-active:text-white relative flex-1 first:border-s-0 border-s border-b-2 py-4 px-6 text-sm font-medium text-center overflow-hidden focus:z-10 focus:outline-none focus:text-blue-600 disabled:opacity-50 disabled:pointer-events-none bg-gray-800 border-l-gray-700 border-b-gray-700 text-gray-400 hover:bg-gray-700 hover:text-gray-400 flex-2 min-w-[fit-content] whitespace-nowrap"
      id="bar-with-underline-item-2"
      data-hs-tab="#bar-with-underline-2"
      aria-controls="bar-with-underline-2"
      role="tab"
    >
      Health
    </button>
    <button
      type="button"
      class="tabBtns hs-tab-active:border-b-blue-600 hs-tab-active:text-white relative flex-1 first:border-s-0 border-s border-b-2 py-4 px-6 text-sm font-medium text-center overflow-hidden focus:z-10 focus:outline-none focus:text-blue-600 disabled:opacity-50 disabled:pointer-events-none bg-gray-800 border-l-gray-700 border-b-gray-700 text-gray-400 hover:bg-gray-700 hover:text-gray-400 flex-2 min-w-[fit-content] whitespace-nowrap"
      id="bar-with-underline-item-3"
      data-hs-tab="#bar-with-underline-3"
      aria-controls="bar-with-underline-3"
      role="tab"
    >
      Sports
    </button>

    <button
      type="button"
      class="tabBtns hs-tab-active:border-b-blue-600 hs-tab-active:text-white relative flex-1 first:border-s-0 border-s border-b-2 py-4 px-6 text-sm font-medium text-center overflow-hidden focus:z-10 focus:outline-none focus:text-blue-600 disabled:opacity-50 disabled:pointer-events-none bg-gray-800 border-l-gray-700 border-b-gray-700 text-gray-400 hover:bg-gray-700 hover:text-gray-400 flex-2 min-w-[fit-content] whitespace-nowrap"
      id="bar-with-underline-item-4"
      data-hs-tab="#bar-with-underline-4"
      aria-controls="bar-with-underline-4"
      role="tab"
    >
      Science
    </button>

    <button
      type="button"
      class="tabBtns hs-tab-active:border-b-blue-600 hs-tab-active:text-white relative flex-1 first:border-s-0 border-s border-b-2 py-4 px-6 text-sm font-medium text-center overflow-hidden focus:z-10 focus:outline-none focus:text-blue-600 disabled:opacity-50 disabled:pointer-events-none bg-gray-800 border-l-gray-700 border-b-gray-700 text-gray-400 hover:bg-gray-700 hover:text-gray-400 flex-2 min-w-[fit-content] whitespace-nowrap"
      id="bar-with-underline-item-5"
      data-hs-tab="#bar-with-underline-5"
      aria-controls="bar-with-underline-5"
      role="tab"
    >
      Business
    </button>

    <button
      type="button"
      class="tabBtns hs-tab-active:border-b-blue-600 hs-tab-active:text-white tabBtns hs-tab-active:border-b-blue-600 relative flex-1 first:border-s-0 border-s border-b-2 py-4 px-6 text-sm font-medium text-center overflow-hidden focus:z-10 focus:outline-none focus:text-blue-600 disabled:opacity-50 disabled:pointer-events-none bg-gray-800 border-l-gray-700 border-b-gray-700 text-gray-400 hover:bg-gray-700 hover:text-gray-400 flex-2 min-w-[fit-content] whitespace-nowrap"
      id="bar-with-underline-item-6"
      data-hs-tab="#bar-with-underline-6"
      aria-controls="bar-with-underline-6"
      role="tab"
    >
      Entertainment
    </button>
  </div>
</nav>

<div class="mt-3">
  <div
    id="bar-with-underline-1"
    role="Tabpanel"
    aria-labelledby="bar-with-underline-item-1"
  >
    <div class="flex flex-col w-fit gap-5">
      <% for (let i = 0; i < 7; i++) { %>
      <div
        class="w-full h-auto flex flex-col justify-center gap-2 bg-slate-500 rounded-lg shadow p-2 transition-all"
      >
        <div class="flex gap-2">
          <img alt="" class="bg-purple-200 w-28 h-28 shrink-0 rounded-lg" />
          <div class="flex flex-col text-slate-100">
            <span class="font-bold italic">Card title</span>
            <p class="line-clamp-3">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
              non dolor augue. Nunc dictum erat sit amet iaculis interdum. Ut
              neque tellus, congue vel lectus aliquam, dignissim porttitor
              velit.
            </p>
          </div>
        </div>
        <button
          class="w-full bg-slate-600 hover:bg-white/5 text-slate-400 font-bold py-2 px-4 rounded"
        >
          See more
        </button>
      </div>
      <% } %>
    </div>
    <div>
      <a  class="flex justify-center items-center mt-1 shadow-2xl mb-4">
        <span
          class="material-symbols-outlined text-white bg-slate-400/40 text-3xl py-2 px-3 rounded-full hover:bg-slate-500"
          >expand_more</span
        >
      </a>
    </div>
  </div>
  <div
    id="bar-with-underline-2"
    class="hidden"
    role="Tabpanel"
    aria-labelledby="bar-with-underline-item-2"
  >
    <div class="flex flex-col w-fit gap-5">
      <% for (let i = 0; i < 7; i++) { %>
      <div
        class="w-full h-40 flex flex-col justify-center gap-2 bg-slate-500 rounded-lg shadow p-2 transition-all"
      >
        <div class="flex gap-2">
          <img alt="" class="bg-purple-200 w-24 h-24 shrink-0 rounded-lg" />
          <div class="flex flex-col text-white">
            <span class="font-bold italic">Card title</span>
            <p class="line-clamp-3">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
              non dolor augue. Nunc dictum erat sit amet iaculis interdum. Ut
              neque tellus, congue vel lectus aliquam, dignissim porttitor
              velit.
            </p>
          </div>
        </div>
        <button
          class="w-full bg-white/30 hover:bg-white/20 text-white font-bold py-2 px-4 rounded"
        >
          See more
        </button>
      </div>
      <% } %>
    </div>
    <div>
      <a href="" class="flex justify-center items-center mt-1">
        <span
          class="material-symbols-outlined text-white bg-slate-400/40 text-3xl py-2 px-3 rounded-full"
          >expand_more</span
        >
      </a>
    </div>
  </div>
  <div
    id="bar-with-underline-3"
    class="hidden"
    role="Tabpanel"
    aria-labelledby="bar-with-underline-item-3"
  >
    <div class="flex flex-col w-fit gap-5">
      <% for (let i = 0; i < 7; i++) { %>
      <div
        class="w-full h-40 flex flex-col justify-center gap-2 bg-slate-500 rounded-lg shadow p-2 transition-all"
      >
        <div class="flex gap-2">
          <img alt="" class="bg-purple-200 w-24 h-24 shrink-0 rounded-lg" />
          <div class="flex flex-col text-white">
            <span class="font-bold italic">Card title</span>
            <p class="line-clamp-3">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
              non dolor augue. Nunc dictum erat sit amet iaculis interdum. Ut
              neque tellus, congue vel lectus aliquam, dignissim porttitor
              velit.
            </p>
          </div>
        </div>
        <button
          class="w-full bg-white/30 hover:bg-white/20 text-white font-bold py-2 px-4 rounded"
        >
          See more
        </button>
      </div>
      <% } %>
    </div>
    <div>
      <a href="" class="flex justify-center items-center mt-1">
        <span
          class="material-symbols-outlined text-white bg-slate-400/40 text-3xl py-2 px-3 rounded-full"
          >expand_more</span
        >
      </a>
    </div>
  </div>
  <div
    id="bar-with-underline-4"
    class="hidden"
    role="Tabpanel"
    aria-labelledby="bar-with-underline-item-4"
  >
    <div class="flex flex-col w-fit gap-5">
      <% for (let i = 0; i < 7; i++) { %>
      <div
        class="w-full h-40 flex flex-col justify-center gap-2 bg-slate-500 rounded-lg shadow p-2 transition-all"
      >
        <div class="flex gap-2">
          <img alt="" class="bg-purple-200 w-24 h-24 shrink-0 rounded-lg" />
          <div class="flex flex-col text-white">
            <span class="font-bold italic">Card title</span>
            <p class="line-clamp-3">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
              non dolor augue. Nunc dictum erat sit amet iaculis interdum. Ut
              neque tellus, congue vel lectus aliquam, dignissim porttitor
              velit.
            </p>
          </div>
        </div>
        <button
          class="w-full bg-white/30 hover:bg-white/20 text-white font-bold py-2 px-4 rounded"
        >
          See more
        </button>
      </div>
      <% } %>
    </div>
    <div>
      <a href="" class="flex justify-center items-center mt-1">
        <span
          class="material-symbols-outlined text-white bg-slate-400/40 text-3xl py-2 px-3 rounded-full"
          >expand_more</span
        >
      </a>
    </div>
  </div>
  <div
    id="bar-with-underline-5"
    class="hidden"
    role="Tabpanel"
    aria-labelledby="bar-with-underline-item-5"
  >
    <div class="flex flex-col w-fit gap-5">
      <% for (let i = 0; i < 7; i++) { %>
      <div
        class="w-full h-40 flex flex-col justify-center gap-2 bg-slate-500 rounded-lg shadow p-2 transition-all"
      >
        <div class="flex gap-2">
          <img alt="" class="bg-purple-200 w-24 h-24 shrink-0 rounded-lg" />
          <div class="flex flex-col text-white">
            <span class="font-bold italic">Card title</span>
            <p class="line-clamp-3">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
              non dolor augue. Nunc dictum erat sit amet iaculis interdum. Ut
              neque tellus, congue vel lectus aliquam, dignissim porttitor
              velit.
            </p>
          </div>
        </div>
        <button
          class="w-full bg-white/30 hover:bg-white/20 text-white font-bold py-2 px-4 rounded"
        >
          See more
        </button>
      </div>
      <% } %>
    </div>
    <div>
      <a href="" class="flex justify-center items-center mt-1">
        <span
          class="material-symbols-outlined text-white bg-slate-400/40 text-3xl py-2 px-3 rounded-full"
          >expand_more</span
        >
      </a>
    </div>
  </div>
  <div
    id="bar-with-underline-6"
    class="hidden"
    role="Tabpanel"
    aria-labelledby="bar-with-underline-item-6"
  >
    <div class="flex flex-col w-fit gap-5">
      <% for (let i = 0; i < 7; i++) { %>
      <div
        class="w-full h-40 flex flex-col justify-center gap-2 bg-slate-500 rounded-lg shadow p-2 transition-all"
      >
        <div class="flex gap-2">
          <img alt="" class="bg-purple-200 w-24 h-24 shrink-0 rounded-lg" />
          <div class="flex flex-col text-white">
            <span class="font-bold italic">Card title</span>
            <p class="line-clamp-3">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
              non dolor augue. Nunc dictum erat sit amet iaculis interdum. Ut
              neque tellus, congue vel lectus aliquam, dignissim porttitor
              velit.
            </p>
          </div>
        </div>
        <button
          class="w-full bg-white/30 hover:bg-white/20 text-white font-bold py-2 px-4 rounded"
        >
          See more
        </button>
      </div>
      <% } %>
    </div>
    <div>
      <a href="" class="flex justify-center items-center mt-1">
        <span
          class="material-symbols-outlined text-white bg-slate-400/40 text-3xl py-2 px-3 rounded-full"
          >expand_more</span
        >
      </a>
    </div>
  </div>
</div>
